* {
  box-sizing: border-box;
}

@media screen and (min-width: 768px){
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* gap: 5%; */
    column-gap: 5%;
    /* width: 600px */
    background-color:red;

  }
  .col1 {
    /* flex: 1; */
    /* margin-right: 5%; */
    background-color: antiquewhite;
  }
  .col2 {
    /* flex: 2; */
    background-color:cadetblue;
  }
}
