* {
  /* margin: 0; */
  padding: 0;
}
.known {
  margin: 100px 0;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
}
.item {
  background-color: aquamarine;
  border: 1px solid red;
  /* padding: 20px; */
  width: 30%;
}
.item img {
  height: 200px;
  /* background-size: cover; */
}
