/* ol li {
  counter-increment: li;
  display: list-item;
} 

ol li::marker {
  display: list-item;
  color: red;
  font-weight: bold;
  content: "#" counter(li) " ";

} 

ul li::marker {
  color: blueviolet;
  font-size: 150%;
}
body {
  line-height: 1.4;
  font-family: system-ui;
}

ol li:nth-of-type(1)::first-letter{
  color: aqua;
} */

/* 
.p2 {
  color: aqua !important;
}

p::first-letter {
  color: red;
}
#p3::selection {
  color: bisque;
}
#p4::selection {
  text-shadow: 1px 1px 0 blueviolet;
} */
/* h2::before {
  content: "Prodip ";
  
}
#p4::after {
  content: " 😎 🥸 🤓";
  color:cadetblue;
} */
/* #p4:hover::first-line {
  color: red;
  text-transform: uppercase;
} */

* {
  box-sizing: border-box;
}
body {
  width: 500px;
  margin: 0 auto;
}
p {
  background-color: aqua;
  border: 3px solid blue;
  padding: 10px;
  margin: 10px;
}
span {
  background-color: red;
  border: 1px solid black;
}
.positioned {
  position: absolute;
  background-color: yellow;
  top: 30px;
  left: 30px;
}