/* 3 */
/* a{
  color: orange;
}

a:hover {
  text-decoration: none;
}
div > :first-child::first-letter {
  font-size: 150%;
}

div > :first-child::first-line {
  color: red;
}
tr:nth-child(even) {
  background-color: #333;
  color: white;
} */

/* 5 */
/* a {
  border: 5px solid grey;
}
[attribute="title"] {
  border-color: pink;
} */

a:link {
  color: yellow;
}
a:visited {
  color: red;
  text-decoration-color: blueviolet;
}
a:hover {
  text-decoration: none;
  color: purple;
}
/*  */
/* .box::before {
  content: "";
  display: block;
  width: 100px;
  min-height: 100px;
  background-color: red;
  border-radius: 50%;
  border: 1px solid green;
} */
